menu:
    nav.navbar.navbar-default(role="navigation")
        div.container-fluid
            div.navbar-header
                a.navbar-brand(href="/") SafetySmart - Chargebee
            div.collapse.navbar-collapse
                ul.nav.navbar-nav
                    if $render.url == '/createuser'
                        li(class="active")
                            a(href="/createuser") Create User
                    else
                        li
                            a(href="/createuser") Create User
                    // li(class=(path == 'planning' ? 'active' : undefined))
                    //   a(href="/planning") Planning


                ul.nav.navbar-nav.navbar-right
                    li
                        if _session.stormUser
                            p.navbar-text.navbar-right Signed in as {{_session.stormUser.givenName + ' ' + _session.stormUser.surname}} &nbsp; &nbsp; &nbsp; &nbsp;
                                a(href="/logout") Logout &nbsp;
                        else
                            a(href="/login") Login