index:
    div.row
        div.col-md-12
            pre#messages(style="height:100px; max-height:100px; overflow-y:hidden; word-wrap:normal;")
            view(name="derby-ui-toast")
    div.row
        div.col-md-6
            div.jumbotron
                h3 Step 1 of 2: Wordpress
                form#createUserInWp
                    div.row.form-group
                            div.col-md-6
                                select.form-control#userProduct(name="userProduct" on-change="this.model.set('_page.thisProduct', $element.options[$element.selectedIndex].value)")
                                    option(selected disabled) (Select a Product)
                                    option(value="OHS") OHS Insider
                                    option(value="SSC") SafetySmart Compliance
                            div.col-md-6
                                select.form-control(name="userRole" on-change="this.model.set('_page.thisRole', $element.options[$element.selectedIndex].value)")
                                    option(selected disabled) (Select a Role)
                                    option(value="Tester") Tester
                                    option(value="Subscriber") Subscriber
                                    option(value="Administrator") Administrator
                    div.row.form-group
                        div.col-md-12
                            input.form-control(value="{{_page.email}}" name="userEmail", type="text", placeholder="Email...")
                    div.row.form-group
                            div.col-md-6
                                input.form-control(name="username", type="text", value="{{_page.username}}", placeholder="Enter username...")
                            div.col-md-6
                                input.form-control(name="userPassword", type="text", value="{{_page.userPass}}", placeholder="Enter password...")
                    div.row.form-group
                            div.col-md-6
                                input.form-control(value="{{_page.firstName}}" name="userFirstName", type="text", placeholder="First Name...")
                            div.col-md-6
                                input.form-control(value="{{_page.lastName}}" name="userLastName", type="text", placeholder="Last Name...")
                    button.btn.btn-primary.btn-block(type="button" data-toggle="modal" data-target="#wpModalConfirm") Create User in Wordpress
                    button.btn.btn-default.btn-block(type="button" on-click="clearPage()") Reset
        div.col-md-6
            div.jumbotron
                h3 Step 2 of 2: Chargebee
                form#createUserInCb
                    div.row.form-group
                            div.col-md-6
                                select.form-control(name="userCurrency" on-change="this.model.set('_page.thisCurrency', $element.options[$element.selectedIndex].value)")
                                    option(selected, disabled) (Select a Currency)
                                    option(value="CAD") Canadian Dollar
                                    option(value="USD") US Dollar
                            div.col-md-6
                                input.form-control#userId(value="{{_page.wpUserId}}" name="userId", type="text", placeholder="Id: Filled from Wordpress..." disabled)
                    div.form-group
                        input.form-control#userCbEmail(value="{{_page.email}}" name="userCbEmail", type="text", placeholder="Email..." disabled)
                    div.row.form-group
                        div.col-md-6
                            input.form-control#userCbFirstName(value="{{_page.firstName}}" name="userCbFirstName", type="text", placeholder="First Name..." disabled)
                        div.col-md-6
                            input.form-control#userCbLastName(value="{{_page.lastName}}" name="userCbLastName", type="text", placeholder="Last Name..." disabled)
                    div.row.form-group
                            div.col-md-6
                                input.form-control(name="userCbCompany", type="text", placeholder="Company...", value="{{_page.company}}")
                            div.col-md-6
                                input.form-control(name="userCbPhone", type="text", placeholder="Phone..." ,value="{{_page.phone}}")
                    button.btn.btn-primary.btn-block#createUserInCb(type="submit" data-toggle="modal" data-target="#cbModalConfirm") Create User in Chargebee
    div.modal.fade#wpModalConfirm
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-tital Verify Information with Wordpress
                div.modal-body
                    p Is this information correct?
                    form#createUserInWp
                        div.row.form-group
                                div.col-md-6
                                    label(for="userProduct") Select Product
                                    br
                                    select.form-control(name="userProduct" disabled)
                                        option(value="{{_page.thisProduct}}") {{_page.thisProduct}}
                                div.col-md-6
                                    label(for="userRole") Select User Role
                                    br
                                    select.form-control(name="userRole" disabled)
                                        option(selected="{{_page.thisRole}}") {{_page.thisRole}}
                        div.row.form-group
                            div.col-md-12
                                label(for="userEmail") E-mail
                                input.form-control(value="{{_page.email}}" name="userEmail", type="text" disabled)
                        div.row.form-group
                                div.col-md-6
                                    label(for="username") Username
                                    input.form-control(name="username", type="text", value="{{_page.username}}", placeholder="Enter username..." disabled)
                                div.col-md-6
                                    label(for="userPassword") Password
                                    input.form-control(name="userPassword", type="text", value="{{_page.userPass}}", placeholder="Enter password..." disabled)
                        div.row.form-group
                                div.col-md-6
                                    label(for="userFirstName") First Name
                                    input.form-control(value="{{_page.firstName}}" name="userFirstName", type="text" disabled)
                                div.col-md-6
                                    label(for="userLastName") Last Name
                                    input.form-control(value="{{_page.lastName}}" name="userLastName", type="text" disabled)
                div.modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Go Back
                    button.btn.btn-primary(type="button", data-dismiss="modal" on-click="logTest();" onclick="$('#createUserInWp input[type=text], #createUserInWp select').attr('disabled',true)") Confirm with Wordpress
    div.modal.fade#cbModalConfirm
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-tital Verify Information with Chargebee
                div.modal-body
                    p Is this information correct?
                    form#createUserInCb
                        div.row.form-group
                                div.col-md-6
                                    label(for="userProduct") Select Currency
                                    br
                                    select.form-control(name="userCurrency" disabled)
                                        option(value="{{_page.thisCurrency}}") {{_page.thisCurrency}}
                                div.col-md-6
                                    label(for="userRole") Wordpress User Id
                                    br
                                    input.form-control(value="{{_page.wpUserId}}", name="wpUserId", type="text" disabled)
                        div.row.form-group
                            div.col-md-12
                                label(for="userEmail") E-mail
                                input.form-control(value="{{_page.email}}" name="userEmail", type="text" disabled)
                        div.row.form-group
                                div.col-md-6
                                    label(for="userFirstName") First Name
                                    input.form-control(value="{{_page.firstName}}" name="userFirstName", type="text" disabled)
                                div.col-md-6
                                    label(for="userLastName") Last Name
                                    input.form-control(value="{{_page.lastName}}" name="userLastName", type="text" disabled)
                        div.row.form-group
                            div.col-md-6
                                input.form-control(name="userCbCompany", type="text", placeholder="Company...", value="{{_page.company}}")
                            div.col-md-6
                                input.form-control(name="userCbPhone", type="text", placeholder="Phone..." , value="{{_page.phone}}")
                div.modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Go Back
                    button.btn.btn-primary(type="button", data-dismiss="modal" on-click="submitCb()") Confirm with Chargebee