import:(src="./home")
import:(src="./includes/menu", ns="menu")
import:(src="./createuser")

Title:
  | {{_page.title}}

Body:
  #wrap
    .container
      view(is="header")
      view(is="{{$render.ns}}")
      view(is="footer", year="2014")

header:
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
  view(is="menu:menu")
  view(is="derby-ui-toast")

footer:
  div.container
    hr
    footer
      p Footer Stuff, {{@year}}
