/*
Formify 2.0 layout styles
*/

.formify{color:#505050;font-family:'Open Sans', arial, sans-serif;}
.formify h1{font-size:24px;font-weight:300;margin:35px 0;}
.formify h2{font-size:19px;font-weight:300;margin:20px 0;}
.formify h3{font-size:14px;font-weight:500;margin:15px 0;}
.formify p{color:#727272;font-size:12px;line-height:20px;}
.formify .headline{background-color:#f2f2f2;height:1px;text-align:center;}
.formify .headline span{background-color:#fff;color:#7d7d7d;font-size:11px;position:relative;text-transform:uppercase;top:-5px;padding:0 25px;}
.formify .row{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;clear:both;padding-right:25px;position:relative;width:100%;float:left;}
.formify .col{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;padding-left:25px;}
.formify .clear{clear:both;}
.formify .row.border{border-bottom:solid 1px #f2f2f2;}
.formify .col-1{width:8.3333333333333%;}
.formify .col-2{width:16.666666666667%;}
.formify .col-3{width:25%;}
.formify .col-4{width:33.333333333333%;}
.formify .col-5{width:41.666666666667%;}
.formify .col-6{width:50%;}
.formify .col-7{width:58.333333333333%;}
.formify .col-8{width:66.666666666667%;}
.formify .col-9{width:75%;}
.formify .col-10{width:83.333333333333%;}
.formify .col-11{width:91.666666666667%;}
.formify .col-12{width:100%;}
.formify .space-bottom-15{padding-bottom:15px;}
.formify .space-top-15{padding-top:15px;}
.formify .space-bottom-20{padding-bottom:20px;}
.formify .space-top-20{padding-top:20px;}
.formify .space-bottom-25{padding-bottom:25px;}
.formify .space-top-25{padding-top:25px;}
.formify .space-bottom-5,.formify .space-bottom-10{padding-bottom:10px;}
.formify .space-top-5,.formify .space-top-10{padding-top:10px;}