@import '../../../node_modules/derby-ui-toast/css/'


// @import '../../../node_modules/derby-flash'
.flash
  padding 1.5em
  margin 1em 0
  border solid 1px #ccc
  border-width 1px
  border-radius 4px
  font-weight normal
  font-size 15px
  font-family Helvetica, Arial, sans-serif
  animation 0.3s appear

.flash.flash-success
  background #f1f9f7
  border-color #e0f1e9
  color #1d9d74

.flash.flash-error
  background #fcf0f0
  border-color #edd
  color #d55

.flash.flash-warning
  background #fcf8e3
  border-color #faebcc
  color #8a6d3b

.flash.flash-info
  background #eef5fa
  border-color #cdf
  color #475780


@keyframes appear
  0%
    opacity 0
    transform translateY(-30px)
  100%
    opacity 1
    transform translateY(0)
